<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihong.csuftcampus.mapper.PostTagMapper">

    <resultMap id="BaseResultMap" type="com.lihong.csuftcampus.model.domain.PostTag">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="postId" column="postId" jdbcType="BIGINT"/>
        <result property="tagId" column="tagId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
